<!-- Gateway Page -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>gateway</title>
	<link rel="stylesheet" type="text/css" href="assets/styles/style.css"/>
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
</head>
<body>
	<h1>HTTP METHODS & API ENDPOINTS</h1>
			<h2>/POST &nbsp&nbsp&nbsp&nbsp&nbsp/gateway
					<span class="blueprint-api">/sendMessage</span>
			</h2>
			<h2>/GET &nbsp&nbsp&nbsp&nbsp&nbsp /gateway
					<span class="blueprint-api">/getLatestMessage</span>
			</h2>
			<h2>/GET &nbsp&nbsp&nbsp&nbsp&nbsp /gateway
					<span class="blueprint-api">/getMessageWithCount?count=</span>
					<span class="params">[HOW_MANY_ITEMS]</span>
			</h2>
			<h2>/GET &nbsp&nbsp&nbsp&nbsp&nbsp /gateway
					<span class="blueprint-api">/getMessagesWithInterval?startTime=</span>
					<span class="params">[ISO_DATE]</span>
					<span class="blueprint-api">&?endTime=</span>
					<span class="params">[ISO_DATE]</span>
			</h2>
</body>
</html>